<button
  type="button"
  data-drawer-target="CartDrawer"
  data-drawer-show="CartDrawer"
  data-drawer-placement="right"
  aria-controls="CartDrawer"
  class="relative flex items-center"
  id="cart-icon-bubble"
>
  <div class="shopify-section relative flex items-center justify-center">
    {%- liquid
      if cart == empty
        render 'icons', name: 'cart-empty'
      else
        render 'icons', name: 'cart'
      endif
    -%}
    <span class="hidden">{{ 'templates.cart.cart' | t }}</span>
    {%- if cart != empty -%}
      <div class="absolute -top-1 flex items-center justify-center w-4 h-4 px-2 pb-px text-sm subpixel-antialiased font-medium leading-none text-center text-white rounded-full right-0 bg-primary lg:-ml-2 lg:relative lg:top-auto lg:right-auto lg:text-base lg:h-5 lg:w-5">
        {%- if cart.item_count < 100 -%}
          <span aria-hidden="true">{{ cart.item_count }}</span>
        {%- endif -%}
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
      </div>
    {%- endif -%}
  </div>
</button>
