{% if section.settings.product != blank %}
  <section class="featured-product" id="featured-product-{{ section.id }}">
    <div class="container">
      {% assign product = all_products[section.settings.product] %}
      <h2>{{ section.settings.title | default: 'Featured Product' }}</h2>
      {% render 'card-product', card_product: product %}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Featured Product",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Featured Product"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Featured Product"
    }
  ],
  "presets": [
    {
      "name": "Featured Product",
      "category": "Product"
    }
  ]
}
{% endschema %}
