{% render 'section-header',
  title: section.settings.title,
  subtitle: section.settings.subtitle,
  class: 'text-center mx-auto text-heading',
  color_scheme: section.settings.color_scheme
%}
<div class="color-{{ section.settings.color_scheme }}">
  <div class="container">
    {% render 'menu-social' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.home-connect.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "t:sections.home-connect.settings.title.default",
      "label": "t:sections.home-connect.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "t:sections.home-connect.settings.subtitle.default",
      "label": "t:sections.home-connect.settings.subtitle.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}

