{% render 'section-header',
  title: section.settings.title,
  subtitle: section.settings.subtitle,
  color_scheme: section.settings.color_scheme,
  class: 'text-3xl lg:text-5xl font-normal lg:text-center mb-10'
%}
<div class="color-{{ section.settings.color_scheme }}">
  <div class="container">
    <div class="grid items-center py-10 lg:grid-cols-3 gap-10 lg:gap-30">
      <div class="col-span-1">
        <img
          src="{{ section.settings.image | image_url: width: 400 }}"
          alt="funding graphic"
          class="mx-auto"
          loading="lazy"
          width="400"
          height="400"
        >
      </div>
      <div class="text-body lg:text-2xl col-span-2">
        {{ section.settings.description }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.home-foster.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "t:sections.home-foster.settings.title.default",
      "label": "t:sections.home-foster.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "t:sections.home-foster.settings.subtitle.default",
      "label": "t:sections.home-foster.settings.subtitle.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.home-foster.settings.image.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "default": "t:sections.home-foster.settings.text.default",
      "label": "t:sections.home-foster.settings.text.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
