{%- liquid
  assign collection_list = collections | where: "template_suffix", section.settings.type
  assign collection_list = collection_list | sort: section.settings.sort
  assign image_class = ""
  if section.settings.type == 'artist'
    assign image_class = "rounded-full"
  endif
-%}


<div class="container">
  <h1 class="text-display animate-fadein">{{ section.settings.title }}</h1>
  <div class="grid grid-cols-1 gap-20 mt-20 lg:grid-cols-2">
    {%- for collection in collection_list -%}
      <div class="mb-4 lg:mb-0">
        {% render 'card-collection',
          card_collection: collection,
          wrapper_class: 'grid md:grid-cols-3 gap-4',
          collection_type: section.settings.type,
          image_class: '{{ image_class }}'
        %}
      </div>
    {%- endfor -%}
  </div>
  {% render 'pagination', paginate: paginate %}
</div>



{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "py-20",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "t:sections.main-list-collections.settings.title.default"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "type",
      "options": [
        {
          "value": "artist",
          "label": "Artists"
        },
        {
          "value": "institution",
          "label": "Institutions"
        }
      ],
      "default": "artist",
      "label": "Choose the type of collection to display",
      "info": "This is used to filter the collections to display by template type."
    }
  ]
}
{% endschema %}
