<section class="py-24 md:py-40 relative">
  <div class="container">
    <div class="grid lg:grid-cols-12">
      <div class="lg:col-span-4">
        <div class="p-10 bg-white z-30 relative">
          <h1 class="text-3xl font-bold mb-4">{{ section.settings.title }}</h1>
          {{ section.settings.content }}
        </div>
      </div>
      <div class="lg:col-span-8">
        <div class="drop-shadow-lg shadow-lg p-10 z-30 bg-white relative">
          <!doctype html>
          <!-- ---------------------------------------------------------------------- -->
          <!-- NOTE: Please add the following <META> element to your page <HEAD>. -->
          <!-- If necessary, please modify the charset parameter to specify the -->
          <!-- character set of your HTML page. -->
          <!-- ---------------------------------------------------------------------- -->
          <head>
            <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
            <title>Contact Comission</title>
            <style>
              .cog-form {
                margin: 0 !important;
                font-family: Helvetica Neue, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
                  Cantarell, Noto Sans, sans-serif !important;
              }

              .cog-input .el-input input,
              .cog-input .el-textarea textarea {
                appearance: none;
                background-color: #fff;
                border-color: #6b7280;
                border-width: 1px;
                border-radius: 0 !important;
                padding: 1rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5rem;
                --tw-shadow: 0 0 rgba(0, 0, 0, 0);
                width: 100%;
                font-family: Helvetica Neue, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
                  Cantarell, Noto Sans, sans-serif !important;
              }

              .el-button {
                padding: 0.9rem 1.5rem;
                background-color: rgba(55, 55, 243, 1);
                color: #fff;
                border: 0;
                border-radius: 0;
                font-size: 1rem;
              }

              .cog-picker input {
                padding-left: 10px;
              }

              .cog-picker {
                padding: 0 10px;
                margin: 0;
              }

              .cog-picker select {
                padding: 17px 0;
                border-radius: 0;
                border: 0;
                outline: none;
                -webkit-appearance: initial;
                font-size: 16px;
              }

              .cog-choice.cog-choice--dropdown {
                border: 0;
              }

              .cog-choice {
                border: 1px solid;
                margin-top: 10px;
              }

              .cog-picker__native-placeholder {
                font-size: 16px;
              }

              .cog-loader__cog {
                background: no-repeat center center url('/svg/comission-spinner-01.svg') !important;
                opacity: 1 !important;
                height: 150px !important;
              }
            </style>
          </head>
          <body style="margin: 0;">
            <script
              src="https://www.cognitoforms.com/f/seamless.js"
              data-key="bbN8iw1MJUqjPe6aHn-_rw"
              data-form="118"
              defer
              async
            ></script>
          </body>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-image w-full lg:w-[60%] h-[60%] lg:h-full absolute left-0 bottom-0 lg:top-0 lg:bottom-auto lg:left-auto lg:right-0 z-20"
    style="background-image: url({{ 'comission-painting-museumpartners-cta-contact.jpg' | asset_url }});"
  ></div>
</section>

{% schema %}
{
  "name": "Contact Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Contact Us"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>We'd love to hear from you! Please fill out the form below.</p>"
    }
  ],
  "presets": [
    {
      "name": "Contact Content"
    }
  ]
}
{% endschema %}
