<div class="grid gap-5 lg:grid-cols-7">
  <div class="grid items-center grid-cols-4 text-center lg:block text-light">
    <div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center">
      <img class="lg:mx-auto" src="/svg/comission-illustration-benefit-certificate-02.svg" width="60" height="50" alt="Certificate Graphic" loading="lazy" decoding="async">
    </div>
    <div class="col-span-3 text-left lg:text-center">
      <p class="my-4 text-lg leading-none ">Collector’s certificate</p>
    </div>
  </div>
  <div class="grid items-center grid-cols-4 text-center lg:block text-light">
    <div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center">
      <img class="lg:mx-auto" src="/svg/comission-illustration-benefit-virtuallyamazing.svg" width="60" height="50" alt="Certificate Graphic" loading="lazy" decoding="async">
    </div>
    <div class="col-span-3 text-left lg:text-center">
      <p class="my-4 text-lg leading-none ">Virtual Gallery</p>
    </div>
  </div>
  <div class="grid items-center grid-cols-4 text-center lg:block text-light">
    <div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center">
      <img class="lg:mx-auto" src="/svg/comission-illustration-benefit-sharetoscreen.svg" width="60" height="50" alt="Certificate Graphic" loading="lazy" decoding="async">
    </div>
    <div class="col-span-3 text-left lg:text-center">
      <p class="my-4 text-lg leading-none ">Stream to your screen</p>
    </div>
  </div>
  <div class="grid items-center grid-cols-4 text-center lg:block text-light">
    <div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center">
      <img class="lg:mx-auto" src="/svg/comission-illustration-benefit-forthewall.svg" width="60" height="50" alt="Certificate Graphic" loading="lazy" decoding="async">
    </div>
    <div class="col-span-3 text-left lg:text-center">
      <p class="my-4 text-lg leading-none ">Augmented Reality</p>
    </div>
  </div>
  <div class="grid items-center grid-cols-4 text-center lg:block text-light">
    <div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center">
      <img class="lg:mx-auto" src="/svg/comission-illustration-benefit-exclusivemuseumnight.svg" width="60" height="50" alt="Certificate Graphic" loading="lazy" decoding="async">
    </div>
  <div class="col-span-3 text-left lg:text-center">
    <p class="my-4 text-lg leading-none ">Exclusive Museum perks</p>
  </div>
</div>
<div class="grid items-center grid-cols-4 text-center lg:block text-light">
  <div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center">
    <img class="lg:mx-auto" src="/svg/comission-illustration-benefits-icon.svg" width="60" height="50" alt="Certificate Graphic" loading="lazy" decoding="async">
  </div>
<div class="col-span-3 text-left lg:text-center"><p class="my-4 text-lg leading-none ">Connect with the Artist</p></div></div><div class="grid items-center grid-cols-4 text-center lg:block text-light"><div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center"><img class="lg:mx-auto" src="/svg/comission-illustration-benefit-metaverse-meet-ups.svg" width="60" height="50" alt="Certificate Graphic" loading="lazy" decoding="async">
    </div>
    <div class="col-span-3 text-left lg:text-center">
      <p class="my-4 text-lg leading-none ">Virtual Meetups</p>
    </div>
  </div>
</div>