<div class="grid gap-5 lg:grid-cols-7">
  {% for block in section.blocks %}
    <div class="grid items-center grid-cols-4 text-center lg:block text-light">
      <div class="aspect-[2/1] flex col-span-1 items-center lg:justify-center">
        <img
          class="lg:mx-auto"
          src="{{ block.settings.image | image_url }}"
          width="60"
          height="50"
          alt="{{ block.settings.alt }}"
          loading="lazy"
          decoding="async"
        >
      </div>
      <div class="col-span-3 text-left lg:text-center">
        <p class="my-4 text-lg leading-none ">{{ block.settings.title }}</p>
      </div>
    </div>
  {% endfor %}
</div>
