<!-- Menu User -->
{% comment %}
  {% render 'header-search', input_id: 'Search-In-Modal' %}
{% endcomment %}
<menu class="flex items-center justify-center mr-2">
  {%- if shop.customer_accounts_enabled -%}
    <a
      href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
      class="relative w-8 h-8 flex *:items-center justify-center"
    >
      {%- if section.settings.enable_customer_avatar -%}
        <account-icon>
          {%- if customer and customer.has_avatar? -%}
            {{ customer | avatar }}
          {%- else -%}
            {% render 'icons', name: 'user' %}
          {%- endif -%}
        </account-icon>
      {%- else -%}
        {% render 'icons', name: 'user' %}
      {%- endif -%}
      <span class="visually-hidden">
        {%- liquid
          if customer
            echo 'customer.account_fallback' | t
          else
            echo 'customer.log_in' | t
          endif
        -%}
      </span>
    </a>
  {%- endif -%}

  {% render 'cart-icon-bubble' %}
</menu>
