<div class="flex lg:justify-center">
  <a href="https://www.instagram.com/CoMission.art" class="mr-5 lg:mr-3" target="_blank" rel="noreferrer">
    {% render 'heroicons' name: 'instagram' %}
  </a>
  <a href="https://www.twitter.com/CoMission_Art" class="mr-5 lg:mr-3" target="_blank" rel="noreferrer">
    {% render 'heroicons' name: 'twitter' %}
  </a>
  <a href="http://www.facebook.com/GetCoMission/" class="mr-5 lg:mr-3" target="_blank" rel="noreferrer">
    {% render 'heroicons' name: 'facebook' %}
  </a>
</div>