<div class="flex lg:justify-center">
  <a href="https://www.instagram.com/CoMission.art" class="inline-block mr-5 lg:mr-3" target="_blank" rel="noreferrer">
    {% render 'icons' name: 'instagram', class: class %}
  </a>
  <a href="https://www.twitter.com/CoMission_Art" class="mr-5 lg:mr-3" target="_blank" rel="noreferrer">
    {% render 'icons' name: 'twitter', class: class %}
  </a>
  <a href="http://www.facebook.com/GetCoMission/" class="mr-5 lg:mr-3" target="_blank" rel="noreferrer">
    {% render 'icons' name: 'facebook', class: class %}
  </a>
</div>