@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tokens */
:root {
  --golden-ratio: 1.618;
  --golden-ratio-inverse: 0.618;

  --color-primary: 55 55 243;
  --color-secondary: 91 33 182;
  --color-accent: 217 70 239;
  --color-success: 16 185 129;
  --color-info: 6 182 212;
  --color-warning: 251 150 0;
  --color-danger: 191 72 0;

  --font-size-small: 0.75rem; /* text-xs */
  --font-size-body: 1rem; /* text-base */
  --font-size-lead: 1.5rem; /* text-lg */
  --font-size-heading: 1.75rem; /* text-2xl */
  --font-size-display: 4rem; /* text-7xl */

  --height-header: 5rem;
  --screen-height: 100vh;

  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */

  @media (min-width: 1024px) {
    --height-header: 6rem;
    --font-size-lead: 1.75rem; /* text-lg */
    --font-size-heading: 2rem; /* text-4xl */
    --font-size-display: 5rem; /* text-6xl */
  }
  @media (min-width: 1280) {
    --height-header: 7rem;
    --font-size-lead: 2rem; /* text-lg */
    --font-size-heading: 2.5rem; /* text-4xl */
    --font-size-display: 7rem; /* text-6xl */
  }

  @supports (height: 100lvh) {
    --screen-height: 100lvh;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

html,
body {
  @apply font-light;
  font-size: 100%;
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
}

h1,
.h1 {
  @apply text-5xl font-normal;
}
h2,
.h2 {
  @apply text-3xl font-medium;
}
h3,
.h3 {
  @apply text-2xl font-normal;
}
h4,
.h4 {
  @apply text-xl;
}
h5,
.h5 {
  @apply text-lg;
}
h6,
.h6 {
  @apply text-base;
}

.hxxl {
  @apply text-6xl font-light lg:text-7xl xl:text-8xl;
}

.text-small {
  @apply text-[var(--font-size-small)];
}
.text-body {
  @apply text-[var(--font-size-body)];
}
.text-lead {
  @apply text-[var(--font-size-lead)];
}
.text-heading {
  @apply text-[var(--font-size-heading)];
}
.text-display {
  @apply text-[var(--font-size-display)];
}

@layer components {
  /* Menus */
  .menu-top {
    @apply flex justify-end w-full h-full px-10 text-white bg-black;
  }
  .menu-primary {
    @apply flex justify-end h-full gap-2 grow lg:gap-4 xl:gap-8;
    li {
      @apply flex items-center justify-center h-full;
      .nav-link {
        position: relative;
        font-weight: 100;
        text-decoration: none;
        @apply flex items-center h-full text-lg lg:px-4 xl:px-5;
      }
      .nav-link:before {
        content: "";
        display: block;
        position: absolute;
        opacity: 0;
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background-color: rgb(var(--color-primary));
        transition: all 0.5s ease-in-out;
      }

      .nav-link:hover:before {
        /* left: 0; */
        height: 8px;
        opacity: 1;
      }

      .nav-link.active:before {
        height: 8px;
        opacity: 1;
      }
    }
    >li:last-of-type {
      background-color: rgb(var(--color-primary));
      .nav-link {
        color: #fff;
      }
    }
    .dropdown-menu {
      @apply absolute left-0 z-10 hidden pb-3 text-left transition-all duration-300 ease-in-out bg-white border top-full border-light;
      a {
        @apply block w-full px-6 py-2 text-lg whitespace-nowrap;
        @apply hover:text-primary;
      }
    }
  }

  /* Drawers */
  .drawer {
    @apply fixed z-50 transition-all duration-700 ease-in-out bg-white text-dark;
    .drawer__header {
      @apply relative w-full px-8 py-4 border-b shadow-sm;
    }
    .drawer__close {
      @apply absolute top-0 right-0 p-4 text-2xl text-dark;
    }
    .drawer__content {
      @apply px-8;
    }
  }
  .drawer-top {
    @apply top-0 left-0 right-0 w-full transition-transform -translate-y-full;
  }
  .drawer-right {
    @apply top-0 right-0 h-screen p-4 overflow-y-auto translate-x-full bg-white min-w-fit;
  }

  /* Buttons */
  .btn {
    @apply inline-block w-auto px-6 py-3 text-center text-white bg-primary whitespace-nowrap;
  }

  /* Home Page */
  .section-header {
    @apply relative w-full h-20 text-white bg-black;
    h2 {
      @apply absolute font-normal text-7xl lg:text-8xl -top-4 lg:-top-8;
    }
  }

  /* Color Schemes */
  .color-scheme-1 {
    @apply text-black bg-white;
  }
  .color-scheme-2 {
    @apply text-white bg-black;
  }
  .color-scheme-3 {
    @apply text-white bg-red-500;
  }

}
